langchain
python-dotenv
ipykernel
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
langchain-text-splitters
dotenv
langchain-openai
chromadb
langchain-ollama
faiss-cpu
langchain-chroma
joblib
pandas
numpy
streamlit
fastapi
langchain-groq
langchain-openai
langserve
langchain-huggingface
sentence-transformers
cloudflared
Wikipedia
npm
sse_starlette
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube

